html , body {
	width: 100%;
	height: 100%;
	/*min-width: 550px;*/
}
header {
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background: #fff;
	z-index: 9999;
}
.top {
	width: 80%;
	height: 85px;
	/*background: pink;*/
	margin: auto;
}

.logo img {
	width: 65px;
	height: 65px;
	float: left;
	margin-top: 8px;
}
.logo-name {
	float: left;
	font-size: 16px;
	margin-top: 20px;
	margin-left: 10px;
}
.user-wapper {
	position: relative;
	float: right;
	display: inline-block;
	/*border: 1px solid red;*/
}
.user {
	margin-right: 74px;
	margin-top: 20px;
}
.user-wapper:hover .user-list {
	display: block;
}
.user-list {
	position: absolute;
	top: 52px;
	width: 100px;
	height: 120px;
	background: #fff;
	box-shadow: 0 0 10px #ccc;
	z-index: 500;
	display: none;
}
.user-list li {
	width: 100px;
	height: 39px;
	color: #999;
	line-height: 49px;
	cursor: pointer;
}
.user-pic {
	display: inline-block;
	width: 30px;
	height: 25px;
}
#user-pic1 {
	background: url("../images/renzheng_03.png") no-repeat center;
}
#user-pic2 {
	background: url("../images/fankui_03.png") no-repeat center;
}
#user-pic3 {
	background: url("../images/tuichu_03.png") no-repeat center;
}
.user-list li:hover {
	color: #36bbc7;
}
.user-list li:nth-child(1):hover #user-pic1 {
	background: url("../images/renzheng2_03.png") no-repeat center;
}
.user-list li:nth-child(2):hover #user-pic2 {
	background: url("../images/fankui2_03.png") no-repeat center;
}
.user-list li:nth-child(3):hover #user-pic3 {
	background: url("../images/tuichu2_03.png") no-repeat center;
}
.user-list li:nth-child(2) {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.login {
	margin-right: 30px;
}
.login a {
	color: #999;
}
.language , .login{
	/*border: 1px solid red;*/
	float: right;
	margin-top: 27px;
	font-size: 12px;
	color: #999;
	cursor: pointer;
}
nav {
	clear: both;
	text-align: center !important;
}
.navbar-default {
	height: 53px;
	background: #36bbc7 !important;
}
#nav-wapper {
	clear: both;
	margin: 0 auto !important;
	text-align: center;
}
.nav>li {
	width: 110px;
	display: inline-block !important;
	float: none !important;
}
.nav>li>a {
	display: inline-block;
	width: 100%;
	height: 53px;
}
.navbar-default {
	z-index: 100;
}
#nav-wapper>li>a {
	font-size: 18px;
	color: #a4f8ff;
}
#nav-wapper .active {
	background: #24a7b6;
}
#nav-wapper .active>a {
	color: #fff;
	border-bottom: 2px solid #178394;
	background: url("../images/nav-jiantou_03.png") no-repeat center bottom;
}
#nav-wapper>li:hover {
	background: #24a7b6;
}
#nav-wapper>li:hover>a {
	color: #fff;
	/*border: 1px solid red;*/
	border-bottom: 2px solid #178394;
	background: url("../images/nav-jiantou_03.png") no-repeat center bottom;
}
.about-us {
	position: relative;
}
.about-us:hover .us-list{
	display: block;
}
.us-list {
	display: none;
	position: absolute;
	left: 0;
	top: 53px;
	z-index: 100;
	text-align: center;
	width: 110px;
}
.us-list li {
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	background: #36bbc7;
}
.us-list li:hover {
	background: #fff !important;
}
.us-list li:hover a {
	color: #000 !important;
}
.us-list li a {
	color: #fff;
}
.nav-center {
	display: inline-block;
	margin: 0 auto;
}
#example-navbar-collapse {
	text-align: center;
}
footer {
	width: 100%;
	padding: 12px 0;
	background: #36bbc7;
	font-size: 14px;
	color: #fff;
	text-align: center;
	overflow: hidden;
}
.footer-main {
	display: inline-block;
	text-align: left;
	float: left;
	line-height: 30px;
}
.footer-erweima {
	display: inline-block;
	float: right;

}
.footer-erweima img {
	margin-top: 6px;
	width: 60px;
	height: 60px;
}
.footer-content {
	width: 960px;
	margin: auto;
}
.footer-erweima p {
	margin-top: 6px;
	font-size: 14px;
}
.footer-weibo img , .footer-phone img{
	margin-right: 13px;
}
.footer-email img {
	margin-left: 123px;
	margin-right: 14px;
}
.footer-dizhi img {
	margin-left: 75px;
	margin-right: 14px;
}
@media only screen and (max-width: 768px) {
	.top {
		width: 100%;
	}
	.logo img {
		width: 45px;
		height: 45px;
	}
	.logo-name {
		font-size: 10px;
		margin-left: 0;
	}
	.user {
		margin-right: 5px;
	}
	.footer-erweima {
		display: none;
	}
	footer {
		font-size: 10px;
	}
	.nav-center {
		text-align: left !important;
		display: block !important;
	}
	.nav-center ul {
		display: inline-block;
		background: #36bbc7;
	}

	.nav>li {
		display: block !important;
		text-align: left !important;
	}

}
.navbar-toggle:hover{
	background: #178394 !important;
}
