.join-main {
  background-color: #ededeb;
  padding: 20px 0;
}
.join-list, .join-content {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px #ccc;
  overflow: hidden;
}
.join-content {
  margin-left: 10px;
  padding: 20px 0;
}
.join-list {
  width: 100%;
  padding: 0 !important;
}
.join-list li {
  width: 100%;
  height: 52px;
  padding: 0 10px;
  border-bottom: 1px solid #ccc;
  line-height: 52px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}
.join-list li:nth-child(1) {
  color: #fff;
  background: #36bbc7;
}
.join-list li:nth-last-child(1) {
  border: none;
}
.join-title {
  border-bottom: 2px solid #ccc;
  padding-bottom: 5px;
}
.join-title img {
  width: 20px;
}
.join-content h5 {
  margin-top: 30px;
  text-align: center;
  font-size: 20px;
}
.join-state span {
    margin-top: 20px;
    display: inline-block;
    /*border: 1px solid red;*/
}
.join-state li {
  font-size: 14px;
  line-height: 20px;
}
